h1, .h1 {
    font-size: 2.5rem;
    color: white;
}
.btn-primary {
    color: #fff;
    background-color: #3aafa9;
    border-color: #3aafa9;
}
h5{
    text-align: center;
}
.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: white;
}
.btn-primary{
    color: #fff;
    background-color: #090f11;
    border-color: #3aafa9;
}
.btn-secondary {
    color: #fff;
    background-color: #090f11;
    border-color: #3aafa9;
}